.list {
  .search-box {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    align-items: center;
    mat-form-field {
      width: 50%;
    }
  }
  mat-list {
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 5px;
  }
  .mat-list-base {
    padding: 0;
  }
}
