<div class="list">
  <div>
    <mat-form-field class="search-box">
      <input
        #searchBox
        type="search"
        matInput
        placeholder="{{ 'list-todo.search' | translate }}"
        value=""
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Todo Status</mat-label>
      <mat-select>
        <mat-option *ngFor="let status of statusList" [value]="status.value">
          {{ status.key }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-slide-toggle (change)="changeHandler($event)">{{
      "list-todo.completed" | translate
    }}</mat-slide-toggle>
  </div>

  <mat-list role="list">
    <ng-container *ngFor="let todo of todoList">
      <om-todo-item
        [todo]="todo"
        (todoClick)="todoClickHander($event)"
        (todoCompleteClick)="todoCompleteClickHandler($event)"
      ></om-todo-item>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-list>
</div>
