<div class="list">
  <div class="search-box">
    <mat-form-field>
      <input
        #searchBox
        type="search"
        matInput
        placeholder="{{ 'list-todo.search' | translate }}"
        value=""
      />
    </mat-form-field>
    <mat-slide-toggle (change)="changeHandler($event)">{{
      "list-todo.completed" | translate
    }}</mat-slide-toggle>
  </div>

  <mat-list role="list">
    <ng-container *ngFor="let todo of todoList">
      <om-todo-item
        [todo]="todo"
        (todoClicked)="todoClickedHander($event)"
        (completeTodoClicked)="completeTodoHandler($event)"
        (deleteTodoClicked)="deleteTodoHandler($event)"
      ></om-todo-item>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-list>
</div>
