mat-list-item {
  .item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .details {
      display: inherit;
      align-items: inherit;
      width: 70%;
      .title {
        padding-right: 10px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 50%;
      }

      .mat-chip {
        min-height: 20px;
        font-size: 10px;
      }
    }
    .options {
      display: inherit;
      align-items: inherit;
    }
  }
  .completed {
    font-style: italic;
    color: gray;
    text-decoration-line: line-through;
  }
}
:hover {
  cursor: pointer;
  background-color: lightgray;
}
