<mat-list-item role="listitem">
  <div class="item-container" [ngClass]="{ completed: !!todo.done }">
    <span (click)="todoClicked($event)">{{ todo.label }}</span>
    <span>{{ todo.category }}</span>
    <span>
      <button
        id="update-todo"
        *ngIf="!todo.done"
        mat-button
        color="primary"
        (click)="completeHandler($event)"
      >
        {{ "list-todo.button" | translate }}
      </button>
      <span *ngIf="todo.done">
        {{ "list-todo.completed-on" | translate }} {{ todo.done }}
      </span>
    </span>
  </div>
</mat-list-item>
