mat-list-item {
  .item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    :first-child {
      width: 50%;
    }
    :nth-child(2) {
      width: 20%;
    }
    :nth-child(3) {
      width: 30%;
      text-align: end;
    }
  }
  .completed {
    font-style: italic;
    color: gray;
    text-decoration-line: line-through;
  }
}
:hover {
  cursor: pointer;
  background-color: lightgray;
}
