mat-toolbar {
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
    0 1px 18px 0 rgb(0 0 0 / 12%);
  justify-content: space-between;
  button {
    padding: 0px;
    min-width: 20px;
  }
  .text-primary {
    text-decoration: underline;
  }
}
